[Unit]
Description=Remrob videostreaming service
Requires=network.target
After=network.target
AllowIsolate=yes

[Service]
Type=oneshot
ExecStart=/bin/true
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

